.top{
    background-color: #D4DBE2;
    
}

.mainNav{
    background-color: #48659F;
    
}
nav h2{
    background-color: #48659F;
    
}
.news > div{
    background-color: #48659F;
}
.rank > div{
    background-color: #48659F;
}