
.top{
    background-color: #F7C9FF;

}

.mainNav{
    background-color: #C15AD3;

}
nav h2{
    background-color: #C974D8;

}
.news > div{
    background-color: #C974D8;
}
.rank > div{
    background-color: #C974D8;
}