
.top{
    background-color: #FFD1E0;

}

.mainNav{
    background-color: #E85A83;

}
nav h2{
    background-color: #E85D86;

}
.news > div{
    background-color: #E85D86;
}
.rank > div{
    background-color: #E85D86;
}