
.top{
    background-color: #D3EDED;

}

.mainNav{
    background-color: #2CCEDB;

}
nav h2{
    background-color: #52CED8;

}
.news > div{
    background-color: #52CED8;
}
.rank > div{
    background-color: #52CED8;
}